* {
  box-sizing: border-box;
}
body{
  background-color: #000000c9;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#q4Wrapper {
  background-color: #2A3035;
  font-family: "Roboto", sans-serif;
  color: white;
}
#q4Wrapper h1, #q4Wrapper h3 {
  margin: 0;
}
#q4Wrapper h1 {
  font-size: 48px;
}
#q4Wrapper h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4Wrapper header, #q4Wrapper footer {
  background-color: #22272B;
}
#q4Wrapper header {
  padding: 20px;
}
#q4Wrapper footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
#q4Wrapper article {
  text-align: center;
}
#q4Wrapper article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4Wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4Wrapper a:hover {
  transform: scale(1.05);
}
#q4Wrapper a span {
  opacity: 0.5;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 30px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
  color:white;
  background-color: #2A3035;
}

/* Begin styling the report items here! */
.reports {

}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1.875rem;
  width: 33.33%;
}

@media (max-width: 768px) {
  .cards_item {
    width: 50%;
  }
}
img {
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  height: auto;
  max-width: 85%;
  vertical-align: middle;
}

.card {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.card_content {
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  padding: 1rem;
  background: #2A3035;
}
.card_content a{
  text-decoration: none !important;
  color: white;
  font-size:0.75vw;
  font-weight: bold;
  text-transform: uppercase;
}
span{
  color: #ffffff5e
}